   <div ng-repeat="item in Items" class="row tile clearfix">
        <div ng-class="{'col-xs-6' : $parent.IsSearch==='true'}" >
        	<div class="favbuttonsCont">
				<a ui-sref="play({ videoId:'{{item.id.videoId}}' })"><img src="{{item.snippet.thumbnails['medium'].url}}"></a>
				<button ng-show="$parent.IsSearch==='true'" type="button" data-role="button" title="Add Favorites" role="button" data-tooltip-text="Add Favorites" ng-click="setFavorites(item.id.videoId)" class="btn btn-secondary-outline btn-xs favbuttons"><span class="glyphicon glyphicon-plus-sign"></span></button>
				<button ng-show="$parent.IsSearch==='false'" type="button" data-role="button" title="Remove Favorites" role="button" data-tooltip-text="Remove Favorites" ng-click="removeFavorites(item.id.videoId)" class="btn btn-secondary-outline btn-xs favbuttons"><span class="glyphicon glyphicon-minus-sign"></span></button>
			</div>
		</div>
		<div ng-class="{'col-xs-6' : $parent.IsSearch==='true'}">
			<strong>{{item.snippet.title}}</strong>
			<div ng-show="$parent.IsSearch==='true'">{{item.snippet.description}}</div>
		</div>
	</div>
